html,body {
	width: 100%;
	height: 100%;
	position: relative;
}
.app {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fdfdfd;
}
.app.login-opened {
	-webkit-filter: blur(2px);
}

/*HEADBAR*/
.app .headbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
	line-height: 33px;
	background-color: #2f2f2f;
	border-bottom: 2px solid #7a7a7a;
}
.app .headbar .task-toggle {
	display: inline-block;
	max-height: 35px;
}
.app .headbar .task-toggle.active a {
	background-color: #474747;
}
.app .headbar .task-toggle.active {
	border-bottom: 2px solid #1bbc9b;
}
.app .headbar a {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
	background-image: none;
	background: none;
	color:white;
	border:none;
	font-size: 24px;
	height: 33px;
}
.app .headbar .task-toggle a {
	padding: 2px 10px 0px 10px;
	margin-right: 20px;
}

.app .headbar .brand {
	color: #1bbc9b;
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 28pt;
}

.app .wide-container {
	position: relative;
	clear:both;
	width: 100%;
	height: 100%;
	padding-top: 35px;
}

/* RESPONSIVE */
@media (max-width:1200px)
{
	.app .tasks {
		display: none !important;
	}
}
@media (max-width:1600px)
{
	.app .tasks {
		width: 20% !important;
	}
	.app .notes {
		width: 80% !important;
	}
}

@media (min-width:1600px)
{
	.app .tasks {
		width: 17% !important;
	}
	.app .notes {
		width: 83% !important;
	}
}


/* TASKS */
.app .tasks {
	float: left;
	position: relative;
	width: 15%;
	height: 100%;
	background-color: #fbfbfb;
	border-right: 1px solid #dddddd;
	-moz-box-shadow: 0px 5px 1px #ccc;
	-webkit-box-shadow: 0px 5px 1px #ccc;
	box-shadow: 0px 5px 1px #ccc;
}
.app .tasks .head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 0 0 0 5px;
	background-color: #009778;
	font-family: "Montserrat";
	font-size: 15pt;
	color:white;
	border-bottom: 1px solid #cacaca;
	border-right: 1px solid #009778;
}
.app .tasks .head a {
	color: white;
	padding: 0 5px;
}
.app .tasks .head a:hover {
	background: #09bf9a;
}
.app .tasks .add {
	z-index: 10;
	position: absolute;
	top: 29px;
	left: 0;
	width: 100%;
	padding: 5px 5px;
	background-color: #eeeeee;
}
.app .tasks .add input {
	display: inline-block;
	width: 100%;
	padding: 5px;
}
.app .tasks .list-container {
	z-index: 5;
	height: 100%;
	padding-top: 73px;
	position: relative;
}
.app .tasks .list {
	height: 100%;
	overflow: auto;
}
.app .tasks .list .empty,
.app .tasks .list .sync {
	padding-top: 20px;
	font-size: 13pt;
	color: #cccccc;
	text-align: center;
	text-transform: uppercase;
}
.app .tasks .list .task {
	padding: 10px 10px;
	border-left: 5px solid #009778;
	border-bottom: 1px solid #c0c0c0;
	color: #4f4e4e;
	background-color: #f5f5f5;
	cursor: pointer;
	font-size: 12pt;
}
.app .tasks .list .task:hover {
	background-color: #f1f1f1;
}
.app .tasks .list .task.done {
	text-decoration: line-through;
	border-left: 0;
	font-size: 10pt;
}

.app .notes {
	float:left;
	width: 80%;
	height: 100%;
	position: relative;
}
.app .notes .left
{
	float:left;
	position: relative;
	height: 100%;
	width: 33%;
	float:left;
}
.app .notes .right
{
	float:left;
	width: 67%;
	position: relative;
	height: 100%;
}
.app .notes .left .head {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0 0 0 5px;
	background-color: #009778;
	font-family: "Montserrat";
	font-size: 15pt;
	color:white;
	border-bottom: 1px solid #cacaca;
	border-right: 1px solid #009778;
	height: 29px;
}
.app .notes .left .head a {
	color: white;
	padding: 0px 7px;
	margin-right: 10px;
}
.app .notes .left .head a:hover {
	background: #09bf9a;
}
.app .notes .left .head .search {
	/*width: inherit;*/
	display: inline-block;
	color: white;
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	border-bottom: 0 !important;
	border-radius: 0;
	box-shadow: none;
	border-color: #dee3ea;
	height: 28px;
	font-size: 10pt;
	font-weight: normal;
	outline: none;
	padding-left: 10px;
	background: url(../img/search.png) #00ac89 no-repeat 99% 100%;
}
.app .notes .left .head .search::-webkit-input-placeholder {
	color: white;
}    
.app .notes .left .head .search:-moz-placeholder {
	/* FF 4-18 */
	color: white;
}
.app .notes .left .head .search::-moz-placeholder {
	/* FF 19+ */
	color: white;
}    
.app .notes .left .head .search:-ms-input-placeholder {
	/* IE 10+ */
	color: white;
}
.app .notes .list-container {
	z-index: 0;
	height: 100%;
	position: relative;
	padding-top: 29px;
}
.app .notes .list {
	height: 100%;
	overflow: auto;
	background-color: #fcfcfc;
}
.app .notes .list .note {
	padding: 20px;
	border: 1px solid #f3f3f3;
	cursor: pointer;
}
.app .notes .list .note:hover,
.app .notes .list .note.active
{
	border-left: 4px solid #009778;
}
.app .notes .list .note .title {
	font-family: "Montserrat";
	text-transform: uppercase;
	font-size: 17pt;
	margin: 0;
}
.app .notes .list .note .title {
	font-family: "Montserrat";
	text-transform: uppercase;
	font-size: 17pt;
}
.app .notes .editor {
	position: relative;
	height: 100%;
}
.app .notes .right .head {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0 0 0 5px;
	background-color: #009778;
	font-family: "Montserrat";
	font-size: 15pt;
	color:white;
	border-bottom: 1px solid #cacaca;
	border-right: 1px solid #009778;
	height: 29px;
}
.app .notes .right .head a {
	color: white;
	padding: 0px 7px;
	margin-right: 10px;
}
.app .notes .right .head a:hover {
	background: #09bf9a;
}
.app .notes .right .editor > .title {
	z-index: 10;
	display: inline-block;
	position: absolute;
	top: 29px;
	left: 0;
	height: 39px;
	background-color: #d4d4d4;
	width: 100%;
	padding: 5px 5px;
	border: 0;
	font-weight: bold;
	outline: none;
	font-size: 14pt;
}
.app .notes .right .editor #epiceditor-container {
	padding-top: 68px;
	position: relative;
	height: 100%;
}
.app .notes .right .editor #epiceditor {
	position: relative;
	height: 100% !important;
	overflow: auto;
}

.login {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 10px;
	z-index: -1;
	display:none;
	
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.login.active {
	display:block;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	z-index: 2100;
}

.login,
.login .login-overlay,
.login .login-modal
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.login .login-overlay {
	background: rgba(0,0,0,0.5);
}
.login .login-modal {
	width: 500px;
	height: 250px;
	background-color: white;
	box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.4 );
	border: 1px solid #464646;
}

.login .login-modal .header {
	height: 45px;
	line-height: 43px;
	background-color: #1BBC9B;
	padding: 0 20px;
	color: white;
	font-family: "Montserrat";
	font-size: 22pt;
	font-weight: bold;
}


.login .login-modal .content {
	padding: 20px;
}
